{% extends 'base.html' %}
{% load common_extra_filters %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-9 col-lg-7 col-xl-5">
			<div class="card">
				<div class="card-body">
					<h2 class="text-center">User login</h2>
					<hr>
					{% include 'forms/login.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}