{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row row-fluid">
			<div class="col-2">
				<img src="{{ user.profile.image.url }}" alt="profile image" class="img-fluid rounded border-dark"
				     style="border: 1px solid black">
			</div>
			<div class="col-3">
				<div class="align-bottom">
					<span style="font-size: 3em;">{{ user.profile.name }}</span>
					{% if profile_is_own %}
						<span class="text-secondary">({{ user.username }})</span>
					{% endif %}
				</div>
			</div>
			<div class="col-2">
				{% if profile_is_own %}
					<a href="" class="btn btn-outline-primary" role="button" style="width: 10em;"
					   {% if not user.profile.name_can_be_changed %}disabled{% endif %}>Change name</a>
					</div>
				{% endif %}
		</div>

	</div>
{% endblock %}