{% extends 'base.html' %}

{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'boards:index' %}">Boards</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ board.name }}</li>
		</ol>
	</nav>
	<hr>
	<div class="text-center">
		<h2>{{ board.name }}</h2>
		<p>{{ board.description }}</p>
	</div>
	<hr>
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Posts</th>
			<th scope="col">Last updated</th>
			<th scope="col">Created on</th>
			<th scope="col">Starter</th>
		</tr>
		</thead>
		<tbody>
		{% if board.topics.all.count == 0 %}
			<tr>
				<td>Nothing to see here. Be the first to <a href="{% url 'boards:create_topic' board.slug %}">create a topic</a></td>
			</tr>
		{% else %}
			{% for topic in board.topics.all %}
				<tr>
					<th scope="row"><a href="{% url 'boards:topic' board.slug topic.id %}">{{ topic.name }}</a></th>
					<td>{{ topic.posts.count }}</td>
					<td>{{ topic.last_updated }}</td>
					<td>{{ topic.created_on }}</td>
					<td><a href="{% url 'users:profile' topic.starter.name %}">{{ topic.starter.name }}</a></td>
				</tr>
			{% endfor %}
		{% endif %}
		</tbody>
	</table>

	<a class="btn btn-outline-primary float-right" role="button" href="{% url 'boards:create_topic' board.slug %}">Create a
		new topic</a>
{% endblock %}
