{% extends 'base.html' %}



{% block content %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'boards:index' %}">Boards</a></li>
			<li class="breadcrumb-item"><a href="{% url 'boards:board' board.slug %}">{{ board.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">New topic</li>
		</ol>
	</nav>
	<div class="card">
		<div class="card-body">
			<h3>{{ board.name }} - New topic</h3>
			<hr>
			{% include 'forms/create_topic.html' %}
		</div>
	</div>

{% endblock %}