{% extends 'base.html' %}

{% block content %}
	{% if not user.is_authenticated and not request.session.hide_welcome_banner %}
		<div class="collapse show" id="collapseJumbotron">
			<div class="jumbotron py-4">
				<button id="dismiss-welcome-banner" data-dismiss-welcome-banner-url="{% url 'ajax:dismiss_welcome_banner' %}"
				        type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#collapseJumbotron">
					<span style="font-size: 1.6em;" aria-hidden="true">&times;</span>
				</button>
				<h2 class="display-4">Welcome to Boards!</h2>
				<p class="lead">Here, you can speak your mind about anything you want! Well, just about anything.</p>
				<hr class="my-4">
				<p class="lead text-light">
					<a href="{% url 'signup' %}" class="btn btn-primary btn-lg" role="button" style="width: 7em;">Sign up</a>
					<a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button" style="width: 7em;">Log in</a>
				</p>
			</div>
		</div>
	{% endif %}
	<h2 class="text-primary">All boards</h2>
	<hr class="my-2">
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Topics/Posts</th>
			<th scope="col">Last updated</th>
		</tr>
		</thead>
		<tbody>
		{% for board in boards %}
			<tr>
				<th scope="row"><a href="{% url 'boards:board' board.slug %}">{{ board.name }}</a></th>
				<td>{{ board.description }}</td>
				<td>{{ board.topic_count }}/{{ board.post_count }}</td>

				<td>{{ board.last_updated }}</td>

			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}