{% extends 'base.html' %}

{% block content %}

	<div class="modal" tabindex="-1" role="dialog" id="confirmDeleteModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<p>Are you sure you want to delete this post?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteButton">Delete</button>
				</div>
			</div>
		</div>
	</div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'boards:index' %}">Boards</a></li>
			<li class="breadcrumb-item"><a href="{% url 'boards:board' board.slug %}">{{ board.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ topic.name }}</li>
		</ol>
	</nav>

	{% for post in topic.posts.all %}
		<div class="card mb-4" id="post-{{ post.id }}">
			<div class="row no-gutters">
				<div class="col-2">
					<div class="card-profile-section" style="border-right: solid 1px #eee;">
						{% load static %}
						<div class="profile-picture-wrapper">
							<img src="{{ post.author.image.url }}" alt="profile image" class="img-fluid rounded">
						</div>
						<a href="{# TODO: Link to profile #}" class="text-decoration-none"><p class="text-center mt-2">
							<strong>{{ post.author.name }}</strong></p>
						</a>
					</div>
				</div>
				<div class="col">
					<div class="card-text-section">
						{{ post.message|safe }}
					</div>
				</div>
			</div>
			<div class="card-footer">
				<span class="text-muted" style="font-size: 0.8em">{{ post.created_at }}</span>
				<div class="post-actions">
					{% if request.user.is_superuser %}
						<a class="text-danger" delete-target-div="#post-{{ post.id }}"
						   delete-target-post="{{ post.id }}" data-delete-post-url="{% url 'ajax:delete_post' %}"
						   data-toggle="modal" data-target="#confirmDeleteModal"
						   href="javascript:void(0)">Delete</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}

	{% if request.user.is_authenticated %}
		<div class="collapse" id="collapseReply">
			<div class="card mb-4 border-dark">
				<form method="POST">

					<div class="row no-gutters">
						<div class="col-2" style="border-right: solid 1px #eee; margin: 0">
							<div class="card-profile-section">
								<div class="profile-picture-wrapper">
									<img src="{{ request.user.profile.image.url }}" alt="profile image" class="img-fluid rounded">
								</div>
								<a href="javascript:void(0);" class="text-decoration-none"><p class="text-center mt-2">
									<strong>{{ request.user.profile.name }}</strong></p>
								</a>
							</div>
						</div>
						<div class="col">
							<div class="card-text-section">
								{% load crispy_forms_tags %}
								<div class="text-right clearfix mb-2">
									<button id="closeAddReply" type="button" class="close" aria-label="Close" data-toggle="collapse"
									        data-target="#collapseReply"><span style="font-size: 1.6em;" aria-hidden="true">&times;</span>
									</button>
								</div>
								{% crispy form %}
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="text-right">
							<button type="submit" class="btn btn-outline-success center-block" style="width: 8em">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<a class="btn btn-outline-primary float-right" role="button" data-toggle="collapse" data-target="#collapseReply"
		   href="javascript:void(0);" id="openAddReply">Add
			a reply</a>
	{% else %}
		<a class="btn btn-outline-primary float-right" role="button"
		   href="{% url 'login' %}?next={% url 'boards:topic' board.slug topic.id %}">Add a reply</a>
	{% endif %}
{% endblock %}