{% load crispy_forms_tags %}
<form method="POST" data-validate-topic-name-url="{% url 'ajax:validate_topic_name' %}">
	{% crispy form %}
	{% csrf_token %}
	<button type="submit" class="btn btn-outline-dark center-block" style="width: 8em">Create</button>
</form>