{% load crispy_forms_tags %}
<form method="POST">
	{{ form|crispy }}
	{% csrf_token %}
	<div class="text-right">
		<button type="submit" class="btn btn-outline-dark center-block" style="width: 8em">Submit</button>
	</div>
</form>