{% load crispy_forms_tags %}

<form method="POST">
	{% crispy form %}
		<div class="text-right">
		<button type="submit" class="btn btn-outline-success center-block" style="width: 8em">Submit</button>
	</div>
</form>