{% load crispy_forms_tags %}

<form method="POST" data-validate-username-url="{% url 'ajax:validate_username' %}">
	{% crispy form %}
	<div class="text-right">
		<button type="submit" class="btn btn-outline-dark center-block" style="width: 8em">Submit</button>
	</div>
</form>