.asteriskField {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.page-footer {
    margin-top: 6em;
}

.bg-pale-dark {
    background-color: #555;
}

.footer-section {
    padding: 1em;
}

.text-almost-white {
    color: #ccc;
}

.card-text-section {
    padding: 0.5rem 0.5rem;
    font-size: 80%;
}

.card-profile-section {
    padding: 1rem;
}

.profile-picture-wrapper {
    border-radius: 5px;
    padding: 0.2rem;
}

.post-actions {
    display: inline-block;
    float: right;
}

.inline {
    display: inline-block;
    text-align: left;
}

@media only screen and (min-width: 540px) {
    .card-text-section {
        padding: 0.75rem;
        font-size: 90%;
    }

    .profile-picture-wrapper {
        padding: 0.6rem;
    }
}

.row-fluid {
    display: flex;
    align-items: flex-end;
}

@media only screen and (min-width: 720px) {
    .card-text-section {
        padding: 1rem;
        font-size: 100%;
    }
    .profile-picture-wrapper {
        padding: 1rem;
    }
}
