{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-simplex.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<title>Boards - Marsimon</title>
	{% block head %}{% endblock %}
	{% block token %}
		<script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}"</script>
	{% endblock %}
</head>
<body>
<div class="content"> {# TODO: Fix navbar #}
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="{% url 'boards:index' %}"><span style="font-size: 2em;">Boards</span><span
								class="font-weight-lighter"
								style="font-size: 0.8em">.marsimon</span></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						{% block navitems %}
							{% if user.is_staff %}
								<li class="nav-item ml-2">
									<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
								</li>
							{% endif %}
							{% if not user.is_authenticated %}
								<li class="nav-item ml-2">
									<a class="nav-link" href="{% url 'signup' %}">Sign up</a>
								</li>
								<li class="nav-item ml-2">
									<a class="nav-link" href="{% url 'login' %}">Log in</a>
								</li>
							{% else %}
								<li class="nav-item dropdown ml-2">
									<a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
									   data-toggle="dropdown"
									   aria-haspopup="true" aria-expanded="false">
										Account
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{% url 'users:profile' user.profile.name %}">Profile</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{# TODO: Link to user page #}">Settings</a>
										<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
									</div>
								</li>
							{% endif %}
						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="container mt-4">
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					<a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					{{ message }}
				</div>
			{% endfor %}

			{% block content %}
			{% endblock %}
		</div>
	</main>
</div>
<div class="page-footer bg-dark">
	<div class="bg-pale-dark text-white footer-section">
		<div class="container">
		</div>
	</div>
	<div class="bg-dark text-almost-white footer-section">
		<div class="container">
			<span>© 2020 Simon Martineau - All rights reserved</span>
		</div>
	</div>
</div>


<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block tail %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>